<h2>Update product by Id</h2>
<form [formGroup]="productForm" (ngSubmit)="editProduct()">
    <div>
        <label>id : </label>
        <input type="text" id="id" formControlName="id"/>
    </div>
    <div>
        <label>Productname : </label>
        <input type="text" id="productName" formControlName="productName"/>
    </div>
    <div>
        <label>Productprice : </label>
        <input type="text" id="productPrice" formControlName="productPrice"/>
    </div>
    <div>
        <label>category : </label>
        <input type="text" id="category" formControlName="category"/>
    </div>
    <div>
        <label>mfd : </label>
        <input type="date" id="mfd" formControlName="mfd"/>
    </div>
    <input type="submit" value="update"/>
</form>